* {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    caret-color: transparent;
}

:root{
    --button-bg: blue;
    --pure-white: white;
    --input-color: gray;
    --cursor-blink-color: black;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
}


button{
    background-color: var(--button-bg);
    color: var(--pure-white);
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin: 1rem;
}

.btn, .cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    display: grid;
    text-align: center;
    place-items: start;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: stretch;
}

.stats, #display{
    font-size: 2rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container div{
    width: 100px;
    height: 100px;
    box-shadow: 0rem 0rem 0.125rem 0rem;
}

.cell{
    font-size: 5rem;
}

#display{
    margin: 0 auto;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
}

input{
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    color: var(--input-color);
    caret-color: var(--cursor-blink-color);
}